* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	color: #fff;
	background-color: #454545;
}

.container {
	width: 100%;
	height: 100vh;
	padding: 20px;
	display: flex;
}

.left, .right {
	flex-basis: 50%;
	padding: 10px;
}

textarea {
	width: 100%;
	height: 28%;
	background-color: #1f1f1f;
	color: #fff;
	padding: 10px 20px;
	border: 0;
	outline: 0;
	font-size: 18px;
}

iframe {
	width: 100%;
	height: 95%;
	background-color: #fff;
	border: 0;
	outline: 0;
}
